<div class="login-container">
  <!--LOGO-->
 <div class="logo">
    <mat-icon svgIcon="logo"></mat-icon>
  </div>
  <!--FORMULARIO-->
  <form>
    <!--CEDULA-->
    <strong class="text">Número de Cédula</strong>
    <mat-form-field appearance="outline" class="full-width">
      <input matInput placeholder="Ingrese el número de cédula">
    </mat-form-field>
    <!--CONTRASEÑA-->
    <strong class="text">Contraseña</strong>
    <mat-form-field appearance="outline" class="full-width">
      <input matInput type="password" placeholder="Ingrese la contraseña">
    </mat-form-field>
    
<!--Uso de componente input personalizado-->

<strong class="text">Input Personalizado</strong>
<app-input
  placeholder="Ingrese ... "
  type="password"
  appearance="outline">
</app-input>

        <!--OLVIDASTE CONTRASEÑA-->
 <div class="forgot-password">
        <a href="#">¿Olvidaste tu contraseña?</a>
     
 </div>
     <!--BOTON INICIAR SESION-->
<button mat-raised-button color="primary" class="btn-login">Iniciar Sesión</button>

  <!--Uso de componente botón personalizado-->
  <app-button label="Boton personalizado" type="filled" color="primary"></app-button>

</form>
</div>
